
.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color:  rgb(24, 24, 66);
}
body{
    
    background-color: rgb(173, 226, 226);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('i2.jpg');
    background-repeat: repeat;
    background-size: cover;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    height: 97vh;
}
.buttondiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-btn-primary
{
    background-color: #153458;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12%;
}
.btn-btn-primary:active{
    background-color:rgb(100, 82, 93);
}
